<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cjy.hometalk"
    android:versionCode="3"
    android:versionName="3.1" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
     <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
     <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
  
     

    <application
        android:name="com.cjy.hometalk.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cjy.hometalk.ui.SplashActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cjy.hometalk.ui.ChatRegisterActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.cjy.hometalk.discovery.EX056"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="com.cjy.hometalk.discovery.DiaryEdit" />
        <activity android:name="com.cjy.hometalk.ui.RandomActivity" />
        <activity android:name="com.cjy.hometalk.ui.AboutActivity" />
         <activity android:name="com.cjy.hometalk.ui.BirthdayActivity" />
          <activity android:name="com.cjy.hometalk.ui.BirthdayAdd" />
          <activity android:name="com.cjy.hometalk.ui.BirthdayEdit" />
        <activity
            android:name="com.cjy.hometalk.ui.ChatListActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity android:name="com.cjy.hometalk.ui.ChatLoginActivity"/>
        <activity
            android:name="com.cjy.hometalk.ui.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- 设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="cjy9492#hometalk" />
        <!-- 声明sdk所需的service SDK核心功能 -->
        <service android:name="com.easemob.chat.EMChatService" />

        <receiver android:name="com.easemob.chat.EMMonitorReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>